
.top {
    background-color: #003049;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-break: break-all;
}


.contact,
.skills,
.language,
.hobby {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline solid whitesmoke 2px;
    word-break: break-all;
}


.contact-details {
    padding-left: 0.5%;
}

.main-content {
    padding-left: 5%;
    background-color: beige;
    max-width: 100%;
    max-height: 100%;
}

@media (max-width:750px) {
    .container {
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: auto;
    }

    .true {
    font-size: 101%;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.true + p{
    font-size: 97%;
}
    .name,
.education, .project, .curricular {
    font-size: 134%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1%;
    text-decoration: underline solid 2px;
}
.study , .website{
    font-size: 108%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
}
.about-website{
    font-size: 102%;
}

.degree{
    font-size: 102%;
    font-family: Anaheim, sans-serif;
    font-weight: 150%;
    text-decoration: underline dashed;
    margin-bottom: -0.7%;
}
.college {
    font-size: 99%;
    font-weight: 200%;
}
.dual-degree{
    font-size: 95%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ach-curr{
    font-size:97%; 
    font-family:'Gill Sans MT', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.details {
    width: 80%;
    font-size: 98%;
}
.top{
    max-height: 1700px;
    padding-top: 4px;
    padding-left: 0px;
}
.contact,
.skills,
.language,
.hobby {
    font-size: 105%;
}
.main-content{
    max-height: fit-content;
    padding-left: 3%;
}
.image {
        height: 115px;
        padding-left: 2.7px;
    }
.contact-details, .first, .second, .third, .fourth{
    padding-left: 8px;
}
}


@media(min-width:750px) and (max-width:1200px) {
    .container {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: auto;
    }

    .true {
    font-size: 112%;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    .name,
.education, .project, .curricular {
    font-size: 165%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1%;
    text-decoration: underline solid 2px;
}
    .study , .website{
    font-size: 116%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
}
    .degree {
    font-size: 112%;
    font-family: Anaheim, sans-serif;
    font-weight: 150%;
    text-decoration: underline dashed;
    margin-bottom: -0.7%;
}

.college {
    font-size: 106%;
    font-weight: 200%;
}
.dual-degree{
    font-size: 100%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ach-curr{
    font-size:103%; 
    font-family:'Gill Sans MT', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.details {
    width: 80%;
    font-size: 104%;
}
.top{
    max-height: 1200px;
    padding-top: 6px;
    padding-left: 0px;
}
.image {
        height: 185px;
    }
   header{
    text-align: center;
}
.contact-details, .first, .second, .third, .fourth{
    padding-left: 25px;
}

}

@media(min-width:1200px) {
    .container {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
    }
    
    .true {
    font-size: 120%;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    .name,
.education, .project, .curricular {
    font-size: 187%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1%;
    text-decoration: underline solid 2px;
}
    .study , .website{
    font-size: 124%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
}

    .degree {
    font-size: 120%;
    font-family: Anaheim, sans-serif;
    font-weight: 150%;
    text-decoration: underline dashed;
    margin-bottom: -0.7%;
}
    .college {
    font-size: 113%;
    font-weight: 200%;
}
.dual-degree{
    font-size: 105%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ach-curr{
    font-size:108%; 
    font-family:'Gill Sans MT', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.details {
    width: 80%;
    font-size: 110%;
}

.top{
    height: max-content;
    padding-top: 10px;
    padding-left: 0px;
}
 .image {
        height: 225px;
}
header{
    text-align: center;
}
.contact-details, .first, .second, .third, .fourth{
    padding-left: 55px;
}
}